.Nameproduct {
    display: flex;
    color: black;
}

.bills {
    color: black;
    border: solid 1px grey;
    font-family: initial;
    font-weight: 700;
    align-items: center;
}

.Invoice {
    background-color: black;
    color: #fff;
    text-align: center;
    height: 50px;
    width: 100%;
    padding-top: 12px;
}

.person {
    display: flex;
    padding-left: 40px;
    font-weight: 500;
}

.person-child {
    padding-left: 60px;
}

.tit {
    font-weight: 700;
}

.accept {
    font-family: initial;
    font-weight: 700;
    display: flex;
    margin-left: 110px;
    margin-top: 50px;
}

.bak {
    display: flex;
}

.add:hover {
    box-shadow: 0 0 0 2px #000, 0 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 1px 1px rgba(0, 0, 0, 0.3),
        0 2px 2px 1px rgba(0, 0, 0, 0.3), 0 4px 4px 3px rgba(0, 0, 0, 0.3), 0 8px 8px 1px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    transition: all 0.5 ease-in-out;
}
